.navbar-toggler:focus {
  box-shadow: none;
}

.nav-link:hover,
.nav-link.active {
  color: #0465e3 !important;
}

.nav-link{
  font-family: fantasy;
  margin-right: 3rem;
}
.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.nav-link-hover {
  position: relative;
  transition: all 0.3s ease-out;
}

.nav-link-hover::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #c93232;
  transition: all 0.3s ease-out;
}

.nav-link-hover:hover {
  color: #ff1525;
}

.nav-link-hover:hover::before {
  width: 100%;
}
